* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgb(115, 179, 207), rgb(114, 107, 215));

}

.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(30, 60, 79);
    height: 550px;
    width: 370px;
    border-radius: 10%;
    gap:8px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    border: 4px solid black;
}

.previous{
    /*placeholder for now*/
    height: 70px;
    width: 300px;
    background-color: rgb(30, 60, 79);
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 40px;
    color: aliceblue;
    padding: 8px;
}

.output{
    height: 100px;
    width: 300px;
    background-color: rgb(154, 174, 188);
    border-radius: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 8px;

}
.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 350px;
    gap:6px;
    padding:15px;
}

button {
    background-color: rgb(154, 174, 188);
    height: 18%;
    width: 23%;
    border-radius: 50%;
    font-size: 30px;
}

button.operations {
    color: rgb(167, 26, 26);
}

