* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
    height: 550px;
    width: 370px;
    border-radius: 10%;
    gap:8px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}

.previous{
    /*placeholder for now*/
    height: 70px;
    width: 300px;
    background-color: blue;
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 40px;
}

.output{
    height: 100px;
    width: 300px;
    background-color: rgb(48, 78, 97);
    border-radius: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 6px;

}
.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 350px;
    gap:6px;
    border: 1px solid red;
    padding:15px;
}

button {
    height: 18%;
    width: 23%;

}

